# ignore this files
*Atliq_logo_for_dashboard.png
*C2 Business Knowledge.pdf
*C2 Peter Pandey's Notes.pdf
*C2 Stakeholder Chat_Business Review Meeting.pdf
*project details codebasics 1-0.png
*project details codebasics 1-1.png
*Project Report.docx
*USER DOCUMENTATION.docx
